<!DOCTYPE HTML>
<html>
<head>
	<title>Chess</title>
	<link rel="stylesheet" href="/stylesheet/global.css">
</head>
<body>
	<h3>Chess</h3>
	<h4><i>A classic game of chess</i></h4>
	<p>
		Currently active lobbies: <%=active %><br>
		Total games created: <%=total %>
	</p>
	<br>
	<button class="clickable" onclick="create()"> Create a new lobby</button>
	<br>
	<br>
	<br>
	<form onsubmit="return join()">
		<input class="clickable" type="submit" value="Join existing lobby" />  
		<input id = "joinForm" type="text" placeholder="Lobby id" />
	</form>
	<script>
		var join = function() {
			var response = document.getElementById('joinForm').value;
			if (response === "")
				return false;
			window.location.href = "/join/"+response;
			return false;
		}
		var create = function() {
			window.location.href="/create";
		}
	</script>
</body>
</html>
