<!DOCTYPE HTML>
<html>
	<head>
		<title>Lobby</title>
	</head>
	<body>
		<!-- Temporary -->
		<script>
			var socket = new WebSocket("ws://localhost:3320");
		</script>
		<main>
			<h3> You have found lobby with id: <%= id%> </h3>
		</main>
	</body>

</html>
