<!DOCTYPE HTML>
<html>
	<head>
		<title>Lobby</title>
		<link rel="stylesheet" href="/stylesheet/board.css">
	</head>
	<body>
		<!-- Temporary -->
		<main>
			<div id="lobbyID" hidden><%=id%></div>
			<h3> You have found lobby with id: <%= id%> </h3>
			<div class="board">
			</div>
		</main>
		<script src="/scripts/game.js"></script>
	</body>

</html>
