.cell {
	float: left;
	height: 50px;
	width: 50px;
	left: 30px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
}
.cell:nth-child(2n) {
	background-color: #030303;
}
.cell:nth-child(2n+1) {
	background-color: #aaaaaa;
}
.cell:hover {
	opacity: 0.95;
}
